HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/


###Docker common commands 
docker run  -p 2020:8082 daraja:latest
docker run -e CONSUMER_KEY=username -e CONSUMER_SECRET=password -p 2020:8082 daraja:latest
docker ps
docker rm -f 5adc95e70956
docker run -e CONSUMER_KEY= -p 2020:8082 daraja:latest
docker container run --rm -it daraja:latest sh
docker exec  -it daraja:latest
docker run -p 2020:8082 daraja:latest
docker run daraja:latest
docker images